{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Test Dress Page{% endblock %}

{% block logout %}
    {% with loggedin=loggedin fname=user.first_name %}
        {{block.super}}
    {% endwith %}
{% endblock logout %}

{% block body %}
    <h2>Add Dress</h2>
    <div>
        <form name="adddress" action="{% url 'process-dress' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Dress Name: <input type="text" name="name" required></p>
            <p>Picture: <input type="file" name="picture" accept="image/*"></p>
            <p>Description: <textarea name="description" cols="50" rows="6" required></textarea></p>
            <p>Color: <input type="text" name="color" required></p>
            <p>Size (US): <input type="number" name="size" min="0" max="100" required></p>
            <p>Length: 
                <select name="length" required>
                    <optgroup label="Short">
                        <option value="mini">Mini</option>
                        <option value="mid">Mid-Thigh</option>
                        <option value="knee">Knee</option>
                        <option value="tea">Tea</option>
                    </optgroup>
                    <option value="long">Long</option>
                </select>
            </p>
            <p>Formality: 
                <select name="formality" required> 
                    <option value="B">Black-Tie</option>
                    <option value="C">Cocktail</option>
                    <option value="N">Night-Out</option>
                    <option value="D">Day-Time</option>
                </select>
            </p>
            <input type="submit" value="Register">
        </form>
    </div>
{% endblock %}
